body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}


#background {
  background-image: url(dollhouse.jpg);
  height: 115vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: -1;
}

* {
  box-sizing:border-box;
}
body{
  background-color: lightblue;
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

button{
  background-color: lightblue;
  background-image: url('Letter-1.png');
  background-size: cover;
  border-radius: 35px;
  padding: 17px 16px;
}

.modal-container {
  display: none;
}