body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#background {
  background-image: url(sophie-turner-LZVmvKlchM0-unsplash.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.314);
  padding: 10px;
}