body {
  background-image: url(dollhouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
/*
.container {
  width: 992px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  outline: none;
  background-image: url(Letter.png);
  background-size: cover;
  background-color: lightblue;
  padding: 17px 16px;
  font-size: 40;
  border-radius: 35px;
  opacity: 0;
}

.btn:active {
  transform: scale(0.9);
}


.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: lightblue;
}

.modal.active {
  top: 45%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}

#dollhouse-container{
  position: relative;
  width: 100%;
  height: 600px;
  border: 1px;
}

#dollhouse-container .btn{
  position: absolute;
}

#btn-1 {
    top: 190px;
    left: 570px;
}
#btn-2 {
    top: 213px;
    left: 745px;
}

#btn-3 {
    top: 332px;
    left: 640px;
}

#btn-4 {
    top: 443px;
    left: 652px;
}

#btn-5 {
    top: 530px;
    left: 540px;
}

#btn-6 {
    top: 415px;
    left: 772px;
}

#btn-7 {
    top: 585px;
    left: 530px;
}

#btn-8 {
    top: 530px;
    left: 770px;
}

#btn-9 {
    top: 559px;
    left: 651px;
}
*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 992px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 15%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}