body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}


#background {
  background-image: url(dollhouse.jpg);
  height: 130vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.314);
  padding: 10px;
}