body {
  background-image: url(dollhouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  background-image: url(Letter-1.png);
  background-size: cover;
  background-color: lightblue;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  align-items: center;
}

