body {
  background-image: url(dollhouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*
.button {
  background-image: url(Letter-1.png);
  background-size: cover;
  background-color: lightblue;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  align-items: center;
}
*/
/*
*, *:before, *:after { 
  box-sizing: border-box; 
}

.modal-container {
  margin: 10px auto;
  padding-top: -20px;
  position: relative;
  width: 160px;
  height: 700px;    
  .modal-btn {
    display: block;
    margin: 0 auto;      
    color: black;
    transform: scale(.4);
    margin-left: -158px; 
    margin-top: 140px;
    width: 290px;
    height: 150px;    
    line-height: 50px;   
    background-image: url(Letter-1.png);
    font-size: 35px;
    border: 0;
    border-radius: 30px;  
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;  
    transition: background 0.3s ease-in;
    &:hover { background: lightblue }
    }
    }
  .modal-content, 
  .modal-backdrop {
    height: 0; 
    width: 400px;
    opacity: 0;    
    visibility: hidden;
    overflow: hidden; 
    cursor: pointer;
    transition: opacity 0.2s ease-in; 
  }
  .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: lightblue;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover { color: #333; }        
  }      
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover { color: #fff; background: darkblue; }
  }
  #modal-toggle {
    display: none;  
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      background-image: url(Letter-1.png);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;      
      transition: opacity 0.2s ease-in; 
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: lightblue;
      max-width: 700px;
      width: 500px;
      height: 600px;
      padding: 10px 30px;
      position: fixed;
      left: calc(50% - 250px);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;      
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);  
      @media (max-width: 400px) { left: 0; }                   
    }  
  }
    https://github.com/TylerPottsDev/css-only-popup/tree/main
    */
    * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}


main {
	text-align: center;
}


h1 {
	margin-bottom: 16px;
}

.button1 {
 /* display: inline-block;*/
  position: absolute;
	padding: 12px 16px;
	background-color: lightblue;
  background-image: url(Letter-1.png);
	color: rgb(29, 28, 28);
	text-decoration: none;
  margin-top: 190px;
	margin-left: -140px;
	border-radius: 10px;
	font-weight: 500;
}


.button2 {
  /* display: inline-block;*/
  position: absolute;
	padding: 12px 16px;
	background-color: lightblue;
	color: rgb(29, 28, 28);
	text-decoration: none;
  margin-top: 210px;
  margin-left: 30px;
	border-radius: 10px;
	font-weight: 500;
}

.button3 {
  /* display: inline-block;*/
  position: absolute;
	padding: 12px 16px;
	background-color: lightblue;
	color: rgb(29, 28, 28);
	text-decoration: none;
  margin-top: 332px;
  margin-left: -66px;
	border-radius: 10px;
	font-weight: 500;
}

.button4 {
  /* display: inline-block;*/
  position: absolute;
	padding: 12px 16px;
	background-color: lightblue;
	color: rgb(29, 28, 28);
	text-decoration: none;
  margin-top: 450px;
  margin-left: -55px;
	border-radius: 10px;
	font-weight: 500;
}

.button5 {
  /* display: inline-block;*/
  position: absolute;
	padding: 12px 16px;
	background-color: lightblue;
	color: rgb(29, 28, 28);
	text-decoration: none;
  margin-top: 536px;
  margin-left: -175px;
	border-radius: 10px;
	font-weight: 500;
}


.popup {
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgb(29, 28, 28);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.popup-inner {
	background-color: skyblue;
	padding: 32px 16px;
	max-width: 768px;
	border-radius: 16px;
	box-shadow: 0px 6px 12px rgb(29, 28, 28);
}

.popup-inner h3 {
	color: black;
	font-size: 24px;
	margin-bottom: 16px;
}

.popup-inner p {
	color: black;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 16px;
}

.popup:target {
	opacity: 1;
	pointer-events: all;
}

#popup1 {
    text-align: center;
}
#popup2 {
    text-align: center;
}
#popup3 {
    text-align: center;
}
#popup4 {
    text-align: center;
}
#popup5 {
    text-align: center;
}
#popup6 {
    text-align: center;
}
#popup7 {
    text-align: center;
}
#popup8 {
    text-align: center;
}
#popup9 {
    text-align: center;
}


.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  opacity: 1;
}

.closebutton
{
	padding: 12px 16px;
  color: skyblue;
	background-color: rgba(0, 0, 135, 0.483);
	text-decoration: none;
	border-radius: 10px;
	font-weight: 500;
}




