
/*#background {
  background-image: url(dollhouse.jpg);
  height: 115vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: -2;
}

* {
  box-sizing:border-box;
}
  */

body{
  background-image: url(dollhouse.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

button{
  background-color: lightblue;
  background-image: url('Letter-1.png');
  background-size: cover;
  border-radius: 35px;
  padding: 17px 16px;
  font: 40px;
}

.modal-container {
  background-color: rgba(0,0,0,0.3);
  position:fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.modal-container.show{
  pointer-events: auto;
  opacity: 1;
}


.modal{
  background-color: lightblue;
  width: 670px;
  padding: 20px;
  border-radius: 50px;
  max-width: 100%;
  max-height:100%;
  text-align: center;
}